<html>
<head>
    <title>WebFS</title>

    <link rel="stylesheet" href="/w3.css">
    <link rel="stylesheet" href="/style.css">

    <script language="javascript" src="/jquery<% production ? '.min' : '' %>.js"></script>
    <script language="javascript" src="/browser.js"></script>
</head>
<body onload="new Browser('<%= pathBase %>', '/api')">
    <br/>
    <header>
        <img src="/favicon.ico" alt="Folder"/>
        <span id="navigation"></span>
    </header>
    <section id="directory">
    </section>
    <footer>
        Github: <a href="https://github.com/mu-x/mux">https://github.com/mu-x/mux</a>
        |
        Icons made by
        <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/"
            title="Creative Commons BY 3.0"
            target="_blank"
        >
            CC 3.0 BY
        </a>
    </footer>
</body>
</html>
