body {
    background-color: black;
    padding: 0px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gray;
}

section {
    color: white;
    padding: 10px;
}

header, footer {
    color: black;
    background-color: orange;
    padding: 5px;
    text-align: center;
}

img {
    vertical-align: middle;
}

span {
    display: inline-block;
    vertical-align: middle;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-item {
    text-align: center;
    padding: 10px;
}

.preview {
    width: 128px;
    height: 128px;
}