[user]
    name = mu-x
    email = uskov.mikhail@gmail.com
[push]
    default = simple
[alias]
    st = status
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
